ansi2html==1.8.0
black==23.7.0
Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
dash==2.13.0
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.2.5
Flask-Compress==1.13
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
logzero==1.7.0
mailjet-rest==1.3.4
MarkupSafe==2.1.3
mypy-extensions==1.0.0
nest-asyncio==1.5.7
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
plotly==5.16.1
pydantic==1.10.12
python-dotenv==1.0.0
requests==2.31.0
retrying==1.3.4
six==1.16.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
tenacity==8.2.3
typing_extensions==4.7.1
urllib3==2.0.7
validate-email==1.3
Werkzeug==2.2.3
